<section>
    <div class="container">
        <div class="user signUpBox">
            <div class="formBox" >
                <form name="myForm" action="/users/register" method="POST">
                    <h2>Create your Account</h2>
                    <%- include ('partials/massages') %>
                    <input type="text" id="username" name="username" placeholder="Username" value="<%= typeof username != 'undefined' ? username : ''%>">
                    <input type="email" id="email" name="email" placeholder="Email Address" value="<%= typeof email != 'undefined' ? email : ''%>">
                    <input type="password" id="password" name="password" placeholder="Create Password" value="<%= typeof email != 'undefined' ? password : ''%>">
                    <input type="password" name="password2" placeholder="Confirm Password" value="<%= typeof email != 'undefined' ? password2 : ''%>">
                    <a href="" onclick="validate()" ><input type="submit" name="" value="Sing Up"></a>
                    <p class="signUp">Already have an account? <a href="/users/login" onclick="toggleForm();"> Log In.</a></p>
                </form>
            </div>
            <div class="imgBox">
                <img src="/images/logo2.png">
            </div>
        </div>
    </div>
</section>
